Source: gdb-python
Section: misc
Priority: optional
Maintainer: Delphix Engineering <eng@delphix.com>
Build-Depends:
	autoconf,
	automake,
	bison,
	dh-python,
	flex,
	git,
	liblzo2-dev,
	libmpfr-dev,
	libsnappy1v5,
	libtool,
	pkg-config,
	python3-distutils,
	python3-future,
	python3-pyelftools,
	python3-dev,
	texinfo,
	zlib1g-dev
Standards-Version: 4.1.2

Package: gdb-python
Depends: ${shlibs:Depends}
Architecture: any
Description: Python extensions to GDB
